#
# h2Polar configuration format file
#
# [SETTINGS]
# all required values are set by default
# and will be overwritten by these.

# interface listen
# INTERFACE = 127.0.0.1
# port bind
#PORT = 51234
# pool number thread
POOL_NTHREADS = 10
# timeout are set up in minutes
# timeout connect
TIMEOUT_CONNECT = 4
# timeout tunnel (also will apply to websocket)
TIMEOUT_TUNNEL = 30
# initial buffer size request
INIT_BUFFER_SIZE = 8192
# uncrypt ssl traffic, 0|1 disable|enable
TLS_MITM = 1

# [TRAFFIC RULES]
# if the website uses an ssl connection, you have enable TLS_MITM to apply actions

# ACTION|METHOD|URL|ARGS ...
# 
# [ACTION]
# MODIFY_BODY_RESPONSE
# REMOVE_HEADER_REQUEST
# REMOVE_HEADER_RESPONSE
# ADD_HEADER_REQUEST
# ADD_HEADER_RESPONSE
# CAPTURE
# SCREENSHOT
# FAKE_TLS_EXT_HOSTNAME
# REDIRECT
# REJECT
# DOWNLOAD_CONTENT

# [METHOD]
# ALL|GET|POST|HEAD|PUT|DELETE

# [URL]
# 
# ! any path

# EXAMPLES:

# modify body response content
#                                            |search|replace by
MODIFY_BODY_RESPONSE|GET|https://ifconfig.io/|<html>|<html><center>h2Polar</center>

# capture post body
CAPTURE|POST|https://github.com/session

# screenshot get request of any subdomain
SCREENSHOT|GET|https://.google.com/

# remove "Server" header response in any path in any method
#                                                  |header name
REMOVE_HEADER_RESPONSE|ALL|https://.wikipedia.org/!|Server

# change tls ext ssl hostname (bypass asn firewalls)
#                                                       |replace by
FAKE_TLS_EXT_HOSTNAME|CONNECT|https://.banned-site.com/!|www.google.com

# redirect one site to another
#                                |target domain, port 
REDIRECT|GET|http://ifconfig.io/!|localhost|80

# download body response content of specify content type
#                                              |content type
DOWNLOAD_CONTENT|GET|https://.googlevideo.com/!|audio/webm

# remove "User-Agent" header request
#                                             |header name
REMOVE_HEADER_REQUEST|GET|https://ifconfig.me/|User-Agent

# rejects post request to /login path in any subdomain.
REJECT|POST|https://.facebook.com/login/!

# add "Head-name" header to request
#                                                           |new header
ADD_HEADER_REQUEST|GET|https://headers.cloxy.net/request.php|Head-name: h2polar

# add "Head-name" header to response
#                                               |new header
ADD_HEADER_RESPONSE|GET|https://www.reddit.com/!|Head-name: h2polar

#EOF
